.home-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 600px) {
  .home-buttons {
    flex-direction: column;
  }
}

h1 {
  margin-bottom: 20px;
  color: #333;
}
