.form-buttons {
  display: flex;
  justify-content: space-between;
}

.form-inputs {
  display: block;
  &__sub-form {
    padding: 5px;
    background-color: #e0e0e0;
  }
}

.form-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.error {
  color: red;
  font-size: 12px;
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
}

input {
  display: block;
  width: auto;
  height: 8px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;

  &:focus {
    border-color: #007bff;
    outline: none;
  }
}

@media (max-width: 600px) {
  .form-buttons {
    flex-direction: column;
  }

  .form-fields {
    flex-direction: column;
  }

  .add-button {
    flex-direction: column !important;
    display: grid;
    align-items: center !important;
  }

  .skills {
    flex-direction: column;
  }
}
