<div class="container">
  <h1 style="margin: 0">Crear nueva tarea</h1>

  <div class="divider"></div>

  <form [formGroup]="taskForm" (ngSubmit)="createTask()">
    <div class="form-inputs">
      <div class="form-fields" style="margin-top: 0">
        <label>Nombre de la tarea:</label>
        <input type="text" formControlName="name" required />
      </div>

      <div class="form-fields">
        <label>Fecha límite:</label>
        <input formControlName="deadline" type="date" required />
      </div>
    </div>

    <div class="divider"></div>

    <div formArrayName="assignedPeople" class="assigned-people">
      <h3>Personas Asociadas</h3>

      <div class="form-inputs form-inputs__sub-form">
        <div class="form-fields">
          <label>Nombre Completo:</label>
          <div style="display: block">
            <input type="text" [formControl]="newPersonFullName" />
            <div
              *ngIf="
                newPersonFullName &&
                newPersonFullName.value &&
                newPersonFullName.value.length < 5 &&
                (newPersonFullName.touched || newPersonFullName.dirty)
              "
            >
              <small class="error">Error: longitud mínima 5</small>
            </div>
          </div>
        </div>
        <div class="form-fields">
          <label>Edad:</label>
          <div style="display: block">
            <input [formControl]="newPersonAge" type="number" />
            <div>
              <small class="error" *ngIf="newPersonAge.value && !isAgeValid()"
                >Error: edad mínima 18</small
              >
            </div>
          </div>
        </div>

        <div style="margin-left: 20px">
          <label>Habilidades:</label>
          <div class="skills">
            <input type="text" [formControl]="newSkill" />
            <button
              [disabled]="!newSkill.value"
              type="button"
              (click)="addSkill()"
            >
              Agregar Habilidad
            </button>
          </div>
        </div>

        <ul
          *ngIf="skills.length"
          style="margin-block-start: 6px; padding-inline: 20px"
        >
          <li
            *ngFor="let skill of skills; let i = index; trackBy: trackById"
            class="skills__items"
          >
            <span>{{ i + 1 }} - {{ skill.name }}</span>
            <button
              *ngIf="skills.length != 0"
              type="button"
              style="
                padding: 6px;
                display: grid;
                place-content: center;
                margin: 0px;
              "
              (click)="removeSkills(skill.id)"
            >
              <ng-icon name="bootstrapTrash"></ng-icon>
            </button>
          </li>
        </ul>
      </div>

      <div class="add-button">
        <button
          [disabled]="
            !newPersonFullName.value ||
            newPersonFullName.value.length < 5 ||
            !newPersonAge.value ||
            skills.length == 0
          "
          type="button"
          style="margin-bottom: 0"
          (click)="addPerson()"
        >
          Agregar Persona
        </button>
      </div>

      <ul>
        <li
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
          *ngFor="let person of assignedPeople.controls; let i = index"
          [formGroupName]="i"
        >
          <span>{{ i + 1 }} - {{ person.get("fullName")?.value || "" }}</span>
          <button
            (click)="removePerson(i)"
            style="
              padding: 6px;
              display: grid;
              place-content: center;
              margin: 0px;
            "
          >
            <ng-icon name="bootstrapTrash"></ng-icon>
          </button>
        </li>
      </ul>
    </div>

    <div class="divider"></div>

    <div class="form-buttons">
      <button style="margin: 0" [disabled]="!taskForm.valid" type="submit">
        Guardar Tarea
      </button>
      <button style="margin: 0" (click)="navigateTo('')">Volver al Menu</button>
    </div>
  </form>
</div>
